<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-5 border-top"
  >
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-muted"
        >© {{ currentDate | date : "yyyy" }} {{ info.nameApp }}</span
      >
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-muted" target="_blank" href="{{ info.url.github }}"
          ><img
            width="24"
            height="24"
            src="../../../assets/img/logos/github.svg"
            alt="github"
        /></a>
      </li>
      <li class="ms-3">
        <a class="text-muted" target="_blank" href="{{ info.url.linkedin }}"
          ><img
            width="24"
            height="24"
            src="../../../assets/img/logos/linkedin.svg"
            alt="github"
        /></a>
      </li>
    </ul>
  </footer>
</div>
